@import "tailwindcss";

@layer utilities {
  .clock{
    @apply flex flex-col gap-8;
  }
  .clock__player--display--block {
    @apply bg-gray-500 w-75 h-75  rounded-2xl shadow-2xl text-white text-center text-7xl flex justify-center items-center flex-nowrap;
  }
  .playing--now {
    @apply scale-95 shadow-2xl bg-gray-400;
  }

  .settings--modal {
    @apply  bg-gray-900 w-[70%] h-[70%] rounded-2xl text-white text-2xl absolute right-1/2 top-1/2 translate-x-1/2 -translate-y-1/2 opacity-90 shadow-2xl;
  }

  .icon {
    @apply text-orange-800  hover:text-orange-500;
  }
}
