@import "tailwindcss";

@layer utilities {
  .clock{
    @apply flex flex-col gap-8;
  }
  .clock__player--display--block {
    @apply bg-gray-600 opacity-90 w-75 h-75  rounded-2xl shadow-2xl text-white text-center text-7xl flex justify-center items-center flex-nowrap text-shadow-2xs;
  }
  .playing--now {
    @apply scale-95 shadow-2xl bg-gray-500;
  }

  .settings--modal {
    @apply  bg-gray-900 w-[70%] h-[70%] rounded-2xl text-white text-2xl absolute right-1/2 top-1/2 translate-x-1/2 -translate-y-1/2 opacity-90 shadow-2xl;
  }

  .icon {
    @apply text-gray-400 hover:text-white active:scale-95;
  }
}
