@charset 'utf-8';
@font-face {
  font-family: ds_digital;
  src: url(fonts/ds_digital/DS-DIGIB.TTF);
}

:root {
  --clockBackground: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ds_digital, Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100vh;
  width: 100vw;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

#clockDisplay {
  background-color: var(--clockBackground);
  width: 65%;
  height: 65%;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  gap: 80px;
  h2 {
    color: green;
    text-shadow: 0px 0px 8px #1e8a1e;
  }
  #whiteDisplay {
    display: flex;
    flex-flow: column nowrap;
    h3 {
      font-size: .19em;
      color: gray;
      text-align: center;
    }
  }
  #blackDisplay {
    display: flex;
    flex-flow: column nowrap;
    h3 {
      font-size: .19em;
      color: gray;
      text-align: center;
    }
  }
}

/* #pressToStart {
    color: white;
    margin-top: 2em;
} */

#pressToStartTxT {
  color: white;
  margin-top: 2em;
  animation: blink 2s infinite ease-in-out;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
